<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        Main Page
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>